<!doctype html>
<html>
	<head>
		<title>Welcome</title>
	</head>
   <body>
   	<h1 style="text-align: center;margin-top: 50px;">Welcome To our Mini Project</h1>
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data" style="margin-top: 170px;text-align: center;">
         <input type = "file" name = "file" style="font-size:18pt;border:solid;"><br>
         <input type = "submit" style="margin-top: 70px;font-size:18pt;border:solid;">
      </form>
   </body>
</html>